In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping
# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
og_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
og_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = og_df.drop(['EIN', 'NAME', 'STATUS'], axis=1)


df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,N,36500179,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   INCOME_AMT              34299 non-null  object
 6   SPECIAL_CONSIDERATIONS  34299 non-null  object
 7   ASK_AMT                 34299 non-null  int64
 8   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(2), object(7)
memory usage: 2.4+ MB

In [4]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
app_type_counts = df['APPLICATION_TYPE'].value_counts()
cutoff = 100
application_types_to_replace = app_type_counts[app_type_counts < cutoff].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [5]:
ask_amt_counts = df['ASK_AMT'].value_counts()
ask_amt_counts.head(30)

ASK_AMT
5000      25398
6725          3
63981         3
15583         3
10478         3
5170          2
24459         2
35734         2
13499         2
27441         2
18985         2
63520         2
5179          2
14765         2
16071         2
64471         2
34995         2
31549         2
20150         2
13681         2
90834         2
27073         2
6035          2
42178         2
13831         2
5175          2
5470          2
32141         2
94253         2
146824        2
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
ask_amt_counts = df['ASK_AMT'].value_counts()
threshold = 10000

# Identify the values that exceed the threshold
amt_counts_to_replace = ask_amt_counts[ask_amt_counts > threshold].index.tolist()

# Replace values greater than threshold with a new value (e.g., 'Other' or a number)
df.loc[df['ASK_AMT'] > threshold, 'ASK_AMT'] = 'Other'  # Or you can replace with a number, e.g., -1

# Check to make sure replacement was successful
check = df['ASK_AMT'].value_counts()
check

<ipython-input-6-3edcab734a65>:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Other' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['ASK_AMT'] > threshold, 'ASK_AMT'] = 'Other'  # Or you can replace with a number, e.g., -1

ASK_AMT
5000     25398
Other     8352
6725         3
8181         2
5731         2
         ...
8517         1
8123         1
9725         1
5040         1
5751         1
Name: count, Length: 515, dtype: int64

In [7]:
class_counts = df['CLASSIFICATION'].value_counts()
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 70
classifications_to_replace = class_counts[class_counts < cutoff].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      499
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
Name: count, dtype: int64

In [8]:
# Convert categorical data to numeric with `pd.get_dummies`
df_dummies = pd.get_dummies(df)
df_dummies

,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,ASK_AMT_9894,ASK_AMT_9908,ASK_AMT_9919,ASK_AMT_9931,ASK_AMT_9952,ASK_AMT_9959,ASK_AMT_9971,ASK_AMT_9990,ASK_AMT_10000,ASK_AMT_Other
0,1,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,0,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
34295,0,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
34296,0,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
34297,1,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
34298,0,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [9]:
# Split our preprocessed data into our features and target arrays
y = df_dummies['IS_SUCCESSFUL']
X = df_dummies.drop('IS_SUCCESSFUL', axis = 1)

In [10]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

# Define the model
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=75, activation="relu", input_dim=X_train.shape[1]))
nn.add(tf.keras.layers.Dropout(0.2))  # Increase the dropout rate

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=25, activation="relu"))
nn.add(tf.keras.layers.Dropout(0.2))  # Increase the dropout rate


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense (Dense)                        │ (None, 75)                  │          42,450 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dropout (Dropout)                    │ (None, 75)                  │               0 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_1 (Dense)                      │ (None, 25)                  │           1,900 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dropout_1 (Dropout)                  │ (None, 25)                  │               0 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_2 (Dense)                      │ (None, 1)                   │              26 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 44,376 (173.34 KB)

 Trainable params: 44,376 (173.34 KB)

 Non-trainable params: 0 (0.00 B)

In [13]:
# Compile the model
nn.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=['accuracy']
)

In [14]:
# Try bigger batch sizes
history = nn.fit(
    X_train_scaled, y_train,
    epochs=100,
    batch_size=35,  # bigger batch size
    validation_data=(X_test_scaled, y_test),
)

Epoch 1/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 9s 7ms/step - accuracy: 0.6810 - loss: 0.6277 - val_accuracy: 0.7266 - val_loss: 0.5582
Epoch 2/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7316 - loss: 0.5593 - val_accuracy: 0.7268 - val_loss: 0.5571
Epoch 3/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7345 - loss: 0.5485 - val_accuracy: 0.7288 - val_loss: 0.5582
Epoch 4/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7358 - loss: 0.5438 - val_accuracy: 0.7301 - val_loss: 0.5595
Epoch 5/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.7309 - loss: 0.5472 - val_accuracy: 0.7319 - val_loss: 0.5588
Epoch 6/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.7334 - loss: 0.5454 - val_accuracy: 0.7320 - val_loss: 0.5586
Epoch 7/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7306 - loss: 0.5480 - val_accuracy: 0.7328 - val_loss: 0.5564
Epoch 8/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7364 - loss: 0.5406 - val_accuracy: 0.7279 - val_loss: 0.5601
Epoch 9/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 5ms/step - accuracy: 0.7317 - loss: 0.5412 - val_accuracy: 0.7325 - val_loss: 0.5607
Epoch 10/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.7349 - loss: 0.5396 - val_accuracy: 0.7332 - val_loss: 0.5593
Epoch 11/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7344 - loss: 0.5434 - val_accuracy: 0.7304 - val_loss: 0.5577
Epoch 12/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7351 - loss: 0.5395 - val_accuracy: 0.7313 - val_loss: 0.5599
Epoch 13/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 5ms/step - accuracy: 0.7410 - loss: 0.5363 - val_accuracy: 0.7315 - val_loss: 0.5597
Epoch 14/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.7350 - loss: 0.5383 - val_accuracy: 0.7306 - val_loss: 0.5643
Epoch 15/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7386 - loss: 0.5350 - val_accuracy: 0.7303 - val_loss: 0.5618
Epoch 16/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7334 - loss: 0.5416 - val_accuracy: 0.7300 - val_loss: 0.5626
Epoch 17/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.7341 - loss: 0.5413 - val_accuracy: 0.7318 - val_loss: 0.5672
Epoch 18/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7351 - loss: 0.5417 - val_accuracy: 0.7331 - val_loss: 0.5639
Epoch 19/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7385 - loss: 0.5393 - val_accuracy: 0.7298 - val_loss: 0.5620
Epoch 20/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - accuracy: 0.7366 - loss: 0.5364 - val_accuracy: 0.7305 - val_loss: 0.5635
Epoch 21/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - accuracy: 0.7369 - loss: 0.5412 - val_accuracy: 0.7308 - val_loss: 0.5624
Epoch 22/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7361 - loss: 0.5364 - val_accuracy: 0.7310 - val_loss: 0.5686
Epoch 23/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7372 - loss: 0.5347 - val_accuracy: 0.7298 - val_loss: 0.5674
Epoch 24/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 5s 7ms/step - accuracy: 0.7400 - loss: 0.5340 - val_accuracy: 0.7328 - val_loss: 0.5702
Epoch 25/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7398 - loss: 0.5367 - val_accuracy: 0.7300 - val_loss: 0.5671
Epoch 26/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 5s 5ms/step - accuracy: 0.7433 - loss: 0.5329 - val_accuracy: 0.7293 - val_loss: 0.5715
Epoch 27/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.7397 - loss: 0.5360 - val_accuracy: 0.7297 - val_loss: 0.5708
Epoch 28/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7366 - loss: 0.5336 - val_accuracy: 0.7305 - val_loss: 0.5704
Epoch 29/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - accuracy: 0.7416 - loss: 0.5335 - val_accuracy: 0.7299 - val_loss: 0.5719
Epoch 30/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7374 - loss: 0.5346 - val_accuracy: 0.7318 - val_loss: 0.5742
Epoch 31/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.7413 - loss: 0.5300 - val_accuracy: 0.7320 - val_loss: 0.5747
Epoch 32/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.7373 - loss: 0.5351 - val_accuracy: 0.7316 - val_loss: 0.5774
Epoch 33/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7365 - loss: 0.5362 - val_accuracy: 0.7304 - val_loss: 0.5765
Epoch 34/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7410 - loss: 0.5316 - val_accuracy: 0.7305 - val_loss: 0.5765
Epoch 35/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.7415 - loss: 0.5333 - val_accuracy: 0.7297 - val_loss: 0.5750
Epoch 36/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.7348 - loss: 0.5379 - val_accuracy: 0.7301 - val_loss: 0.5726
Epoch 37/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7387 - loss: 0.5352 - val_accuracy: 0.7287 - val_loss: 0.5788
Epoch 38/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7379 - loss: 0.5372 - val_accuracy: 0.7301 - val_loss: 0.5790
Epoch 39/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.7416 - loss: 0.5269 - val_accuracy: 0.7280 - val_loss: 0.5734
Epoch 40/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.7430 - loss: 0.5285 - val_accuracy: 0.7273 - val_loss: 0.5721
Epoch 41/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7402 - loss: 0.5292 - val_accuracy: 0.7291 - val_loss: 0.5718
Epoch 42/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7373 - loss: 0.5327 - val_accuracy: 0.7295 - val_loss: 0.5699
Epoch 43/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 5ms/step - accuracy: 0.7382 - loss: 0.5362 - val_accuracy: 0.7309 - val_loss: 0.5705
Epoch 44/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.7388 - loss: 0.5305 - val_accuracy: 0.7298 - val_loss: 0.5709
Epoch 45/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7436 - loss: 0.5289 - val_accuracy: 0.7289 - val_loss: 0.5677
Epoch 46/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7428 - loss: 0.5292 - val_accuracy: 0.7294 - val_loss: 0.5704
Epoch 47/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 5ms/step - accuracy: 0.7387 - loss: 0.5272 - val_accuracy: 0.7304 - val_loss: 0.5709
Epoch 48/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7350 - loss: 0.5350 - val_accuracy: 0.7294 - val_loss: 0.5702
Epoch 49/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7405 - loss: 0.5326 - val_accuracy: 0.7326 - val_loss: 0.5655
Epoch 50/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7441 - loss: 0.5287 - val_accuracy: 0.7287 - val_loss: 0.5754
Epoch 51/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7413 - loss: 0.5317 - val_accuracy: 0.7300 - val_loss: 0.5749
Epoch 52/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.7376 - loss: 0.5332 - val_accuracy: 0.7325 - val_loss: 0.5787
Epoch 53/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.7409 - loss: 0.5315 - val_accuracy: 0.7320 - val_loss: 0.5710
Epoch 54/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7447 - loss: 0.5269 - val_accuracy: 0.7319 - val_loss: 0.5735
Epoch 55/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7389 - loss: 0.5307 - val_accuracy: 0.7298 - val_loss: 0.5769
Epoch 56/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7453 - loss: 0.5272 - val_accuracy: 0.7317 - val_loss: 0.5732
Epoch 57/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7442 - loss: 0.5250 - val_accuracy: 0.7311 - val_loss: 0.5732
Epoch 58/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7405 - loss: 0.5322 - val_accuracy: 0.7323 - val_loss: 0.5679
Epoch 59/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7392 - loss: 0.5305 - val_accuracy: 0.7278 - val_loss: 0.5769
Epoch 60/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.7436 - loss: 0.5265 - val_accuracy: 0.7305 - val_loss: 0.5778
Epoch 61/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.7371 - loss: 0.5357 - val_accuracy: 0.7328 - val_loss: 0.5773
Epoch 62/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7450 - loss: 0.5255 - val_accuracy: 0.7313 - val_loss: 0.5686
Epoch 63/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7392 - loss: 0.5330 - val_accuracy: 0.7328 - val_loss: 0.5679
Epoch 64/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.7297 - loss: 0.5416 - val_accuracy: 0.7306 - val_loss: 0.5738
Epoch 65/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7395 - loss: 0.5315 - val_accuracy: 0.7305 - val_loss: 0.5744
Epoch 66/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - accuracy: 0.7379 - loss: 0.5306 - val_accuracy: 0.7310 - val_loss: 0.5706
Epoch 67/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7427 - loss: 0.5309 - val_accuracy: 0.7314 - val_loss: 0.5742
Epoch 68/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.7433 - loss: 0.5280 - val_accuracy: 0.7300 - val_loss: 0.5755
Epoch 69/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7408 - loss: 0.5300 - val_accuracy: 0.7308 - val_loss: 0.5785
Epoch 70/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7430 - loss: 0.5284 - val_accuracy: 0.7292 - val_loss: 0.5696
Epoch 71/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7416 - loss: 0.5271 - val_accuracy: 0.7294 - val_loss: 0.5716
Epoch 72/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.7412 - loss: 0.5292 - val_accuracy: 0.7318 - val_loss: 0.5722
Epoch 73/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7450 - loss: 0.5262 - val_accuracy: 0.7323 - val_loss: 0.5652
Epoch 74/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7427 - loss: 0.5293 - val_accuracy: 0.7298 - val_loss: 0.5801
Epoch 75/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7440 - loss: 0.5252 - val_accuracy: 0.7309 - val_loss: 0.5779
Epoch 76/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7419 - loss: 0.5279 - val_accuracy: 0.7310 - val_loss: 0.5806
Epoch 77/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 5ms/step - accuracy: 0.7426 - loss: 0.5255 - val_accuracy: 0.7319 - val_loss: 0.5748
Epoch 78/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.7391 - loss: 0.5298 - val_accuracy: 0.7291 - val_loss: 0.5770
Epoch 79/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7425 - loss: 0.5294 - val_accuracy: 0.7308 - val_loss: 0.5720
Epoch 80/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7416 - loss: 0.5299 - val_accuracy: 0.7297 - val_loss: 0.5775
Epoch 81/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 5ms/step - accuracy: 0.7425 - loss: 0.5254 - val_accuracy: 0.7270 - val_loss: 0.5830
Epoch 82/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7426 - loss: 0.5303 - val_accuracy: 0.7300 - val_loss: 0.5823
Epoch 83/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7396 - loss: 0.5285 - val_accuracy: 0.7288 - val_loss: 0.5837
Epoch 84/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7456 - loss: 0.5255 - val_accuracy: 0.7299 - val_loss: 0.5849
Epoch 85/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7420 - loss: 0.5318 - val_accuracy: 0.7309 - val_loss: 0.5846
Epoch 86/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.7433 - loss: 0.5256 - val_accuracy: 0.7301 - val_loss: 0.5867
Epoch 87/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.7408 - loss: 0.5301 - val_accuracy: 0.7295 - val_loss: 0.5905
Epoch 88/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7406 - loss: 0.5296 - val_accuracy: 0.7308 - val_loss: 0.5878
Epoch 89/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7429 - loss: 0.5283 - val_accuracy: 0.7309 - val_loss: 0.5877
Epoch 90/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.7436 - loss: 0.5266 - val_accuracy: 0.7317 - val_loss: 0.5816
Epoch 91/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.7422 - loss: 0.5295 - val_accuracy: 0.7306 - val_loss: 0.5860
Epoch 92/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7391 - loss: 0.5307 - val_accuracy: 0.7307 - val_loss: 0.5887
Epoch 93/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7441 - loss: 0.5236 - val_accuracy: 0.7313 - val_loss: 0.5910
Epoch 94/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.7401 - loss: 0.5279 - val_accuracy: 0.7301 - val_loss: 0.5926
Epoch 95/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7374 - loss: 0.5320 - val_accuracy: 0.7307 - val_loss: 0.5933
Epoch 96/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7396 - loss: 0.5291 - val_accuracy: 0.7305 - val_loss: 0.5887
Epoch 97/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7429 - loss: 0.5297 - val_accuracy: 0.7302 - val_loss: 0.5876
Epoch 98/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.7457 - loss: 0.5244 - val_accuracy: 0.7303 - val_loss: 0.5853
Epoch 99/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.7432 - loss: 0.5258 - val_accuracy: 0.7308 - val_loss: 0.5927
Epoch 100/100
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7429 - loss: 0.5327 - val_accuracy: 0.7311 - val_loss: 0.5876

In [15]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

322/322 - 1s - 2ms/step - accuracy: 0.7311 - loss: 0.5876
Loss: 0.5875593423843384, Accuracy: 0.7310981750488281